.movie-poster {
    margin: 1rem;
    background-color: #1a1d43;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.movie-poster img {
    border-radius: 5px;
    height: 220px;
    width: 165px;
    padding-bottom: 6px;
}
.movie-title {
    margin-top:0.5rem;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
}