@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;700&display=swap');
.movie-section {
    margin-bottom: 2rem;
}

.movie-section h2 {
    font-family: 'Jura', sans-serif; /* Apply Jura font */
    font-size: 1.5rem; /* Adjust size as needed */
    color: #ffffff;
    text-align: left;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}
