.app-header {
    background-color: rgb(1, 7, 20);
    color: #ffffff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.app-header h1 {
    font-size: 2rem;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    display: flex;
    align-items: center;
  }
nav ul li a {
    color: white;
    text-decoration: none;
}

.home-button {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.user-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .user-info:hover {
    background-color: #444;
  }

  .user-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: transparent; /* Ensure background is transparent */
  }

.header-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(2, 10, 30, 1);;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 1000; /* Ensure the dropdown is above other elements */
  }
  
  .dropdown-menu button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    margin: 0px;
  }

  .dropdown-menu button:hover {
    background-color: #1a1d43;
    color: white;
  }